<div class="card bg-light mb-3">
  <h1>LES NOUVEAUTÉS</h1>
</div>
<div *ngFor="let tempPost of posts">
  <div *ngIf="tempPost.active" class="card bg-light mb-3">
    <div class="card-header">Category : général{{tempPost.category}}</div>
    <div class="card-body">
      <p class="card-text">{{tempPost.content}}</p>
      ---
      <p class="card-text"> like : {{tempPost.userlike}} - dislike : {{tempPost.userdislike}}</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          posté le {{tempPost.created_at}}
        </small>
      </footer>
    </div>
  </div>
</div>

