<div class="menu">
  <a routerLink="" title=""><img class="m-2" src="../../../assets/img/logo.svg" alt="logo"></a>
  <button routerLink="/post" routerLinkActive="active" class="btn btn-primary d-inline m-2">Écrire un post</button>
  <form class="d-inline m-2" action="" method="get">
    <input type="text" class="" name="search" id="search" placeholder="Rechercher">
    <button class="btn btn-danger" type="submit" name="do" value="search"><i class=" fa fa-search"></i></button>
  </form>
  <button class="btn btn-warning d-inline m-2" (click)="openModal()"><strong>S'identifier (modal)</strong></button>
  <button class="btn btn-warning d-inline m-2" routerLink="/register" title=""><strong>S'inscrire</strong></button>
  <a routerLink="/conditions" routerLinkActive="active">Conditions</a>
</div>
<div *ngIf="isRegister">
  <button class="btn btn-warning d-inline m-2" (click)="logout()"><strong>S'identifier (modal)</strong></button>
</div>
